<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/header'); %>
    <%- include('modules/contact-banner'); %>
    <%- include('modules/contact-info'); %>
    <%- include('modules/map'); %>
    <!-- <%- include('pages/contact'); %> -->   
    <%- include('modules/registration'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>