<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/header'); %>
    <%- include('pages/contact'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>