<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/header'); %>
    <%- include('modules/banner'); %>
    <%- include('modules/products'); %>
    <%- include('modules/product-top'); %>
    <%- include('modules/all-product'); %>
    <%- include('modules/feedback'); %>
    <%- include('modules/news'); %>
    <%- include('modules/brand'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>