<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/header'); %>
    <%- include('modules/blog-banner'); %>
    <%- include('modules/detail'); %>
    <%- include('modules/favourite-product'); %>
    <%- include('modules/selling-product'); %>
    <%- include('modules/registration'); %>
    <%- include('modules/brand'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>